@charset 'utf-8';
/* CSS Document */
p {
	color:black

}
p {
	width: 600px
	}
p {
	font-size: 16px
	}
p {
	line-height:18px
	}
p {
	background-color:white
	}
p {
	padding: 20px
	}

span {color: rgb( 255, 0 ,255) ;}
body {
	background-image: url('slike/09.jpg')
	}
	
	a {
		color:  black
		}
		a:link {
		background-color: white
		}
	a:hover{
		background-color:  rgb(253, 0, 253)
		}
	img {
		height: 200px
		}
img {
		width: 200px
		}
		li {
			margin:20px
			}
        ol {
		width: 400px
		}
		ol {
		background-color: white
		}
		ul  {
		background-color: white
		}
		ul {
		width: 400px
		}
		
		h2 {
		color: rgb( 255, 0 ,255)
		}
		
		h1 {
		color: rgb( 255, 0 ,255)
		}

		









